{{ define "body" }}
<main class="container">
    {{ template "flash" . }}
    
    <form method="POST" id="form">
        <div role="document">
            <section>
                <hgroup>
                    <h1>Editing Page</h1>
                    <h2>{{.page.Title}}</h2>
                </hgroup>
                <div>
                    <label for="title">Page Title</label>
                    <input type="text" id="title" name="title" value="{{.page.Title}}" autocomplete="off">
                </div>
                <div>
                    <label for="content">Content</label>
                    <fieldset id="md-switch">
                        <label for="switch">
                            <input type="checkbox" id="switch" name="switch" role="switch" onclick="previewMD()">
                            Preview
                        </label>
                    </fieldset>
                    <textarea id="content" name="content" rows="15">{{.page.Text}}</textarea>
                    <article id="preview-content" aria-busy="true">
                    </article>
                    
                    <a href="{{ url "markdown" }}" target="_blank">Editor help</a> (opens in new tab)
                    
                </div>
            </section>
        </div>
        <aside>
            <h1></h1>
            <p id="autosave">
                <em data-tooltip="This page will autosave">Last edited {{ .page.UpdatedAt.Format "Jan 02, 2006" }}</em>
            </p>
            
            Code:
            <a href="{{ url .page.Code }}" target="_blank">
                {{.page.Code}}
            </a>
            
            <hr>
            Download
            <a href="{{ url (print "admin/pages/qr/" .page.Code ".svg") }}" download="download">
                .svg
            </a>
            <hr>
            
            <!-- Switch -->
            <fieldset>
                <label for="publish">
                    <input type="checkbox" id="publish" name="publish" {{ if .page.Published }}checked{{end}}>
                    Published
                </label>
            </fieldset>
            
            <hr>
            
            <fieldset>
                <legend>Gallery</legend>
                {{ range .galleries }}
                <label for="gallery{{.ID}}">
                    <input type="radio" id="gallery{{.ID}}" name="gallery" value="{{ .ID }}" {{ if eq .ID $.page.GalleryID}}checked{{ end }}>
                    {{ .Gallery }}
                </label>
                {{ end }}
            </fieldset>
            
            <hr>
            
            <fieldset>
                <legend>Trail (optional)</legend>
                {{ range .trails }}
                <label for="trail{{.ID}}">
                    <input type="radio" id="trail{{.ID}}" name="trail" value="{{ .ID }}" {{ if eq .ID $.page.TrailID}}checked{{ end }}>
                    {{ .Trail }}
                </label>
                {{ end }}
            </fieldset>
            
            <hr>


            <label for="author">
                Author
                <input type="text" id="author" name="author" placeholder="Guest" value="{{ .page.Author }}">
            </label>

            <hr>
            
            <label for="image">Cover Image</label>
            
            <div class="file-area">
                <input type="file" name="image" id="image" required="required" accept="image/*"/>
                <div class="file-dummy">
                    {{ if .page.Cover.File }}
                    <img src="{{ .page.Cover.ImgURL "small" }}" id="cover-img">
                    {{ else }}
                    <img id="cover-img" src="">
                    {{ end }}
                    <div class="success" aria-busy="true">Uploading cover image...</div>
                    <div class="default">Drop cover image here</div>
                </div>
            </div>
            
            <hr>
            
            <button id="delete" class="secondary" name="delete" value="true">Delete Page</button>
        </aside>
    </form>
</main>

<style>
    @media (min-width:992px) {
        
        main > form {
            --block-spacing-horizontal: calc(var(--spacing) * 1.75);
            grid-column-gap: calc(var(--block-spacing-horizontal) * 2);
            display: grid;
            grid-template-columns: auto 300px;
        }
    }
    
    label[for=content] {
        display: inline-block;
    }
    #content {
        font-family: monospace;
        resize: vertical;
    }
    #md-switch {
        float: inline-end;
    }
    #preview-content {
        margin-top: 0;
        width: 100%;
        display: none;
    }
    #preview-content[aria-busy=true] {
        text-align: center;
    }
    .file-area {
        width: 100%;
        position: relative;
    }
    .file-area input[type=file] {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        opacity: 0;
        cursor: pointer;
    }
    input#audio, input#image {
        height: 100%;
        z-index: 9;
    }
    img[src=""] {
        display: none;
    }
    img#cover-img {
        margin-bottom: var(--spacing);
    }
    .file-area .file-dummy .player {
        padding: 0;
    }
    .file-area .file-dummy {
        width: 100%;
        padding: var(--spacing);
        border: 2px dashed rgba(255, 255, 255, 0.2);
        text-align: center;
        transition: background 0.3s ease-in-out;
        margin-bottom: var(--spacing);
        background: var(--background-color);
        border-color: var(--form-element-border-color);
    }
    .file-area .file-dummy .success {
        display: none;
    }
    #image:hover ~ .file-dummy, #audio:hover ~ .file-dummy {
        background: #e5eaee;
    }
    .file-area input[type=file]:focus + .file-dummy {
        background: var(--background-color);
        border-color: var(--form-element-border-color);
    }
    .file-area input[type="file"]:valid + .file-dummy {
        background: var(--background-color);
        border-color: var(--form-element-border-color);
    }
    .file-area input[type=file]:valid + .file-dummy .success {
        display: inline-block;
    }
    .file-area input[type=file]:valid + .file-dummy .default {
        display: none;
    }
</style>

<script>
    document.getElementById("switch").checked = false;
    var checkBox = document.getElementById("switch");
    var textarea = document.getElementById("content");
    var preview = document.getElementById("preview-content");
    var form = document.getElementById("form");
    var autosave = document.getElementById("autosave");
    let typingTimer;
    let doneTypingInterval = 2000;
    
    inputs = document.forms["form"].querySelectorAll("textarea,input")
    for(var i = 0; i < inputs.length; i++) {
        if (inputs[i].name == 'image') {
            inputs[i].addEventListener('change', event => {
                autosave.setAttribute("aria-busy", true)
                uploadImage().then(data => updateCover(data))
            });
        } else if (inputs[i].type.toLowerCase() == 'radio' || inputs[i].type.toLowerCase() == 'checkbox') {
            inputs[i].addEventListener('click', event => {
                if (event.target.name != "switch" && typeof event.target.type != "undefined") {
                    doneTyping()
                }
            });
        } else {
            inputs[i].addEventListener('keyup', event => {
                clearTimeout(typingTimer);
                typingTimer = setTimeout(doneTyping, doneTypingInterval);
            });
        }
    }

    
    form.addEventListener('keyup', event => {
        clearTimeout(typingTimer);
        typingTimer = setTimeout(doneTyping, doneTypingInterval);
    });
    
    function doneTyping () {
        var xhr = new XMLHttpRequest();
        xhr.open("PATCH", "", true);
        xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
        let formData = new FormData(form)
        let reqBody = {};
        for (let pair of formData.entries()) {
            reqBody[pair[0]] = pair[1];
        }
        xhr.send(urlencodeFormData(formData));
        autosave.children[0].innerText = "Saving..."
        autosave.setAttribute("aria-busy", true)
        
        xhr.onreadystatechange = async (e) => {
            await new Promise(r => setTimeout(r, 500));
            if (xhr.status == 200) {
                autosave.children[0].innerText = "Last saved: " + new Date().toLocaleTimeString()
                autosave.setAttribute("aria-busy", false)
            } else {
                autosave.children[0].innerText = "Something went wrong. Please check your connection."
                autosave.setAttribute("aria-busy", false)
            }
        }
        
    }
    
    function urlencodeFormData(fd){
        var s = '';
        function encode(s){ return encodeURIComponent(s).replace(/%20/g,'+'); }
        for(var pair of fd.entries()){
            if(typeof pair[1]=='string'){
                s += (s?'&':'') + encode(pair[0])+'='+encode(pair[1]);
            }
        }
        return s;
    }

    function updateCover(data) {
        if (data.status == 200) {
            data.json().then(data => {
                document.getElementById("image").value = null
                document.getElementById("cover-img").src=data["small"]
            })
        } else {
            document.getElementById("image").value = null
        }
        autosave.children[0].innerText = "Last saved: " + new Date().toLocaleTimeString()
        autosave.setAttribute("aria-busy", false)
    }

    async function uploadImage() {
        let formData = new FormData();
        formData.append("file", image.files[0]);
        formData.append("page", "{{ .page.Code }}")
        const response = await fetch('{{ url "admin/upload" }}', {
            method: "POST",
            body: formData
        });
        return response
    }

    function previewMD() {
        
        if (checkBox.checked == true){
            textarea.style.display = "none";
            preview.style.display = "block";
            preview.setAttribute("aria-busy", true)
            
            var xhr = new XMLHttpRequest();
            xhr.open("POST", '{{ url "admin/pages/preview" }}', true);
            xhr.setRequestHeader('Content-Type', 'application/json');
            xhr.send(JSON.stringify({
                md: textarea.value
            }));
            
            xhr.onreadystatechange = (e) => {
                preview.innerHTML = xhr.response
                preview.setAttribute("aria-busy", false)
            }
        } else {
            textarea.style.display = "block";
            preview.style.display = "none";
            preview.innerHTML = null
        }
    }
    
</script>
{{ end }}