{{ define "body" }}
<main class="container">
    <h1>Analytics</h1>
    {{ template "flash" . }}

    <div class="grid">
        <div>
            <h2>Possible Analytics:</h2>
            <ul>
                <li>Scans today</li>
                <li>Scans this week</li>
                <li>Scans this month</li>
                <li>New scanners</li>
                <li>Completion rate</li>
                <li>Time between scans</li>
                <li>Time to completion</li>
                <li>First scanned</li>
            </ul>
        </div>
        <div>
            <h2>
                Download data:
            </h2>
            <a href="{{ url "admin/data.csv" }}" role="button">Download data as CSV</a>
        </div>
    </div>

</main>
{{ end }}